* {
    box-sizing: border-box;
  }
  
  h1, p {
    font-family: Lato;
  }
  
  .app-wrapper {
    display: flex;
  }
  
  .tool-wrapper {
    width: 150px;
    padding: 8px;
    border: 1px solid black;
  }
  
  .tool {
    padding: 8px 16px;
    margin: 4px;
    background-color: aquamarine;
    cursor: grab;
  }
  
  .container {
    width: 100%;
    height: 700px;
    padding: 16px;
    border: 1px solid black;
  }
  
  .box {
    width: 100%;
    padding: 8px 16px;
    margin: 4px;
    border: 1px solid black;
    background-color: aquamarine;
  }
  
  .drop-area {
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: burlywood;
    display: none;
  }
  
  .highlight {
    display: block;
    border: 2px solid red;
  }

  .widget-drop-area {
    height: 110px;
    width: 110px;
  }
  
  .widget-highlight {
    display: block;
    border: 2px solid red;
    margin-left: 15px;
    margin-top: 4px;
  }

  .column-highlight {
    display: block;
    border: 2px solid red;
    margin-left: 15px;
    margin-top: 4px;
    height: 150px;
    width: 150px;
  }

  .nestedSquare {
    height:100px;
    width:100px;
    background:orange;
    margin:10px
  }
